* { 
    padding: 0; margin: 0;
    box-sizing: border-box;
}

body { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eeecec;
}

.container { 
    width: 320px; height: 550px;
    background: #ecf0f3;
    border-radius: 30px;
    padding: 32px 16px;
    box-shadow: 8px 8px 13px #cbced1,
        -8px -8px 13px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .result { 
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: auto; height: 100px;
}

.container .result p{ 
    font-size: 23pt;
    overflow-y: auto;
}

.container .buttons { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}

.container .buttons .key { 
    cursor: grab;
    display: grid;
    place-content: center;
    text-align: center;
    width: 54px; height: 54px;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(66, 66, 66);
    border-radius: 50px;
    box-shadow: 8px 8px 13px #cbced1, -8px -8px 13px #ffffff;
}

.container .buttons .zero { 
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    border-radius: 10px;
}

.container .buttons .parameters {
    color: rgb(225, 165, 0);
    font-weight: bold;
    font-size: 1.9rem;
}

.container .buttons .action-btn {
    color: grey;
    font-size: .9rem;
}


.fa-github { 
    position: absolute;
    bottom: 105px; left: 40px;
    font-size: 2.5rem;
    cursor: pointer;
    color: rgb(39, 39, 39);
}

.fa-github:hover {
    color: rgb(9, 9, 9);
}

.fa-gitlab{
    position: absolute;
    bottom: 50px; left: 40px;
    font-size: 2.5rem;
    color: rgb(255, 149, 36);

}

.fa-gitlab:hover {
    color: rgb(250, 130, 3);
}
